__pycache__
.vscode
.git
.gitignore
.env
dev-in-docker
dev
docker-compose.yml
docker-compose.dev.yml
LICENSE
build
node_modules
static/dist
tmp
*.gitlab-ci.yml
backup.sh
webpack-stats*
yarn-error.log
README.md