[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
Django = "*"
djangorestframework = "*"
Markdown = "*"
django-cors-headers = "*"
django-webpack-loader = "*"
uvicorn = "*"
python-dateutil = "*"
numpy = "*"
rasterio = "*"
coverage = "*"
pyspark = "*"
django = "*"
markdown = "*"
gdal = "==3.0.4"

[dev-packages]

[requires]
python_version = "3.8"
